<h1>All events</h1>

<% form_tag events_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<p>
<%= link_to "New event", events_new_path %>
</p>

 <% @events.each do |event| %>
    <div class = "event">
      <p></p>
     <p><%= link_to event.name, event %></p>
      <% if current_user.admin? %>
      <strong>
        <td><%= link_to 'Edit', edit_event_path(event) %>  |
        <%= link_to "Delete", event, :method => :delete, :confirm => "You sure?",
                                     :title => "Delete #{event.name}" %></td>
      </strong>
    <% end %>

        <div class= "Info">
         By <%=link_to event.user.name, event.user %> on <%= event.created_at%>
        </div>

  <div class ="body">
    <%= image_tag event.photo.url(:small) %>
    <%= event.body %>
  <%end%>
  </div>
</div>


