<h1>All events</h1>

<%= link_to "New event", events_new_path %>


 <% @events.each do |event| %>
<table>
  <tr>

    <th><%= link_to event.name, event %></th>
    <th>
    <% if current_user.admin? %>

       <strong>
        <td><%= link_to 'Edit', edit_event_path(event) %>  |
        <%= link_to "Delete", event, :method => :delete, :confirm => "You sure?",
                                     :title => "Delete #{event.name}" %></td>
       </strong>
    <% end %>
    </th>
  </tr>


  <tr>
    <th><%= event.body %></th>
    <th><%= image_tag event.photo.url(:small) %></th>
  </tr>
  <%end%>
</table>


