<h1>All events</h1>

<%= link_to "New event", events_new_path %>


 <% @events.each do |event| %>
<table>
  <tr>

    <th><%= link_to event.name, event %></th>
    <th>
    <% if current_user.admin? %>
  |     <%= link_to "delete", event, :method => :delete, :confirm => "You sure?",
                                     :title => "Delete #{event.name}" %>
    <% end %>
    </th>
  </tr>


  <tr>
    <th><%= event.body %></th>
    <th><%= image_tag event.photo.url(:small) %></th>
  </tr>
  <%end%>
</table>


